@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  } /*hsl( )*/

  .dark {
    --gradient: linear-gradient(to top left, #0052d4, #4364f7, #6fb1fc);

    --background: 230 65% 3.36%; /*hsl( )*/
    --foreground: 230 10% 97.1%; /*hsl( )*/

    --muted: 230 50% 12.6%; /*hsl( )*/
    --muted-foreground: 230 10% 54.2%; /*hsl( )*/

    --popover: 230 45% 5.46%; /*hsl( )*/
    --popover-foreground: 230 10% 97.1%; /*hsl( )*/

    --card: 230 45% 5.46%; /*hsl( )*/
    --card-foreground: 230 10% 97.1%; /*hsl( )*/

    --border: 230 50% 12.6%; /*hsl(230 50% 12.6% )*/
    --input: 230 50% 12.6%; /*hsl( 230 50% 12.6%)*/

    --primary: 230 100% 42%; /*hsl( )*/
    --primary-foreground: 230 10% 97.1%; /*hsl( )*/

    --secondary: 230 50% 12.6%; /*hsl( )*/
    --secondary-foreground: 230 10% 97.1%; /*hsl( )*/

    --accent: 230 50% 12.6%; /*hsl( )*/
    --accent-foreground: 230 10% 97.1%; /*hsl( )*/

    --destructive: 0 62.8% 30.6%; /*hsl( )*/
    --destructive-foreground: 230 10% 97.1%; /*hsl( )*/

    --ring: 230 100% 42%; /*hsl( )*/
  }
  /*hsl( )*/
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
